body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.team {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.your-team {
    width: 65%;
}

.other-team {
    width: 30%;
}

h2, h3 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

.oldplayer {
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.player {
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
}

.player.show-priority {
    justify-content: flex-start;
}

.player-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player.locked {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.player:hover {
    background-color: #e0e0e0;
}

.toggle-button {
    display: block;
    margin: 0 auto 10px auto;
    cursor: pointer;
}

.collapsed {
    display: none;
}

.stats {
    display: flex;
    gap: 20px; /* Adjust the gap as needed for spacing */
    justify-content: flex-start;
}
.stat, .quirk {
    position: relative;
    cursor: pointer;
}
.tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: normal;
    min-width: 200px;
    max-width: 300px;
    z-index: 10;
}
.stat:hover .tooltip,
.quirk:hover .tooltip {
    display: block;
}


.priority {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    align-items: flex-start;
}
.priority-menu {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}
.priority-menu label {
    margin-right: 10px;
}
.target-menu {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.target-menu label {
    margin-right: 10px;
}

#lock-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}