body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.player-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.player {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
    position: relative;
    transform-origin: center;
}

.player.centered-left {
    transform: translateX(20vw); /* Move towards the center from the left */
}

.player.centered-right {
    transform: translateX(-20vw); /* Move towards the center from the right */
}

.player.highlighted {
    background-color: #ffeb3b; /* Highlight color */
    border-color: #fbc02d; /* Highlight border color */
}

.horizontal-line-container {
    width: 90%;
    margin-top: 20px;
    position: relative;
}

.horizontal-line {
    width: 100%;
    height: 2px;
    background-color: #000;
    position: relative;
}

.goal-icon {
    position: absolute;
    top: 100%;
    width: 100px; /* Adjust the size as needed */
    height: 80px; /* Adjust the size as needed */
    transition: transform 0.5s;
}

.left-goal {
    left: -4%;
    transform: translateY(-100%);
}

.right-goal {
    right: -4%;
    transform: scaleX(-1) translateY(-100%); /* Flip the icon horizontally and move it up */
}

.slider-icon {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -9px; /* Adjust to center the icon vertically */
    left: 50%;
    transform: translateX(-50%);
    transition: left 0.5s;
}

.match-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
}

.team-info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.team-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.left-team-info {
    align-items: flex-start;
}

.right-team-info {
    align-items: flex-end;
}

.team-name {
    font-weight: bold;
    font-size: 3em;
}

.team-score {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    flex-grow: 1;
}

.team-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#match-text-box {
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column-reverse;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
}

.shake {
    animation: shake 0.5s ease-in-out;
}

.health-bar-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
}

.health-bar {
    height: 10px;
    background-color: #4caf50;
    width: 100%; /* Default to full health */
}

.game-timer {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
}

.score-timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.home-team-players,
.away-team-players {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    overflow: visible; /* Allow players to overflow the container */
}

.quirk {
    position: relative;
    cursor: pointer;
}
.quirk:hover .tooltip {
    opacity: 1;
    transition-delay: 0.5s; /* Adds a 1-second delay before the tooltip appears */
}

.tooltip {
    opacity: 0;
    transition: opacity 0.1s ease-in;
    pointer-events: none; /* Ensures the tooltip doesn't interfere with mouse events */
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: normal;
    min-width: 200px;
    max-width: 300px;
    z-index: 10;
}

.player-icon {
    position: absolute;
}

.home-team .player-icon {
    top: -25px; /* Adjust as needed to position the ball */
    right: -25px; /* Adjust as needed to position the ball */
}

.away-team .player-icon {
    top: -25px; /* Adjust as needed to position the ball */
    left: -25px; /* Adjust as needed to position the ball */
}

.ball-icon {
    width: 50px;
    height: 50px;
}

.action-icon-container {
    position: relative;
    display: inline-block;
}

.action-icon {
    width: 50px;
    height: 50px;
    display: none;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.action-icon-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate-360 {
    animation: rotateAnimation 0.5s ease-in-out;
}

#back-to-league-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000; /* Ensure it is on top of other elements */
}